<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

<nav class="navbar navbar-default" style="background-color:#ffffff;width:80%;margin:auto;margin-top:0px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" style="color:orange;font-family:raleway;">SafeBoda</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div style="font-family:Oswald;" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="color:white;">
        <li><a href="#" style="color:orange;"><i class="fa fa-group"></i>HOTLINE | (+250) - 783 - 305 - 657 | GET THE APP | *321#</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="home">
<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      
        <div class="item active">
          <img src="Cover_04.jpg">
           <div class="carousel-caption">
            <h4>YOUR CITY RIDE</h4>
          </div>
        </div><!-- End Item -->
                
      </div><!-- End Carousel Inner -->

      <!-- Controls -->
      <div class="carousel-controls">
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
      </div>

    </div><!-- End Carousel -->
</div>   
    
<br/><br/><br/>

<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form">
        <div class="form-group">
          My current location <input type="text" class="form-control" placeholder="UR, HUYE Campus">
        </div>
        <button type="submit" class="btn btn-default">BOOK A RIDE</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row" style="padding-right:75px;padding-left:75px;">
<h1>CATCH A RIDE WITH US</h1>
<div class="col-md-3">
<h1><span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i img src="ic_computer_back_24dp.png"></i>
</span></h1>
<br/>
<p>Request for our services using web through your PC</p>
<p>www.safeboda.rw</p>
</div> 
<div class="col-md-3">
<h1><span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-plane fa-stack-1x fa-inverse"></i>
</span></h1>
<br/>
<p>Call out hotline service center for a ride on</p>
<p>(+250) - 783 - 305 - 657</p>
</div> 

<div class="col-md-3">
<h1><span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-fighter-jet fa-stack-1x fa-inverse"></i>
</span></h1>
<br/>
<p>Download out Android App on Playstore for a full mobile experience</p>
<p>www.play.com/safeboda</p>
</div> 

<div class="col-md-3">
<h1><span class="fa-stack fa-lg">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
</span></h1>
<br/>
<p>Access our services free of internet access using our USSD code</p>
<p>*321#</p>
</div> 
</div>
<br/><br/><p></p>
  <div>
    <input type="submit" class="btn btn-block btn-lg btn-primary" value="BOOK A RIDE"> 
  </div>
<br/><br/><p></p>
<div>
  <embed src="SafeBoda - Promo Video.mp4" autostart="false" height="30" width="144" />         
</div>


<br/><br/><p></p>
<h1>WHAT THEY SAY ABOUT US</h1>
<br/><br/>
    <img src="/home/marlene/HeHe/Front-End Dev Challenge/Front-end design challenge/04. UI Identity/Images/Client.jpg">
    
<p>"It is always a good experience riding with Safeboda. The drivers are spontaneous and reliable, and very very safe with clean helmets"</p>
<h1>CONTACT US</h1>

<div class="col-md-6">
<div class="form-group">
  <input type="text" class="form-control input-lg" placeholder="NAME">
</div> 
<div class="form-group">
  <input type="email" class="form-control input-lg" placeholder="EMAIL">
</div>
<div class="form-group">
  <input type="text" class="form-control input-lg" placeholder="SUBJECT">
</div>

</div>
<br/><br/><br/><br/>

